<div>
    {{#each questions}}

        <div>{{this.text}}</div>

        {{#if (isEqual this.type 1)}}
        Aaaa
        {{else if (isEqual this.type 2)}}
        Bbbb
        {{else}}
        Cccc
        {{/if}}

    {{/each}}
</div>