<div class="container">
    


    <form action="/">
        {{#each questions}}
            <div class="input-box">
                <label for="">{{this.num}}. {{this.text}}</label>
                <input type="text" name="" id="">
            </div>

        {{/each}}
    </form>

</div>