<div class="container">
    
    {{!-- {{#each questions}}

        <div>{{this.text}}</div>
    {{/each}} --}}

    <form action="/">
        <div class="input-box">
            <label for="">1.Что есть мы?</label>
            <input type="text" name="" id="">
        </div>

        <div class="input-box">
            <label for="">2.Что есть я?</label>
            <input type="text" name="" id="">
        </div>

        <div class="input-box">
            <label for="">3.Что есть они?</label>
            <input type="text" name="" id="">
        </div>
    </form>

</div>