/* https://www.materialpalette.com/blue/blue-grey */

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.header{
    display: flex;
    background-color: #9e9797;
    color: #FFFFFF;
    align-items: center;
    padding: 1em 0;
}

.content {
    flex: 1 0 auto;
    text-align: left;
}

.radio-input {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    position: relative;
}


.label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border:1px solid orange;
    position: absolute;
    left: -24px;
    top:-3px
}

.radio-form {
    display: none;
}

.radio-input .radio-form:checked+label::before {
    background: radial-gradient(70% 70% at center, orange 50%, transparent 50%);
}

.footer {
    flex: 0 0 auto;
}
