/* https://www.materialpalette.com/blue/blue-grey */

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.header{
    display: flex;
    background-color: #757575;
    color: #FFFFFF;
    align-items: center;
}

.content {
    flex: 1 0 auto;
    text-align: left;
}

.input-box {
    
    margin-bottom: 1em;
}

label {
    display: block;
}

.footer {
    flex: 0 0 auto;
}

